body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
 }
.sign-up-form {
    position:center;
    width: 400px;
    height: 400px;
    background: #fff;
    margin: 10% auto 0;
    text-align: center;
}

.content {
    font-style: sans-serif;
   text-align: center;
   position: relative;
   font-size: 15px;
}
.submit{
    text-align: center;
    font-size: 30px;
}
button {
    color: black;
    background-color: cadetblue;
    font-size: 25px;
    float: center;
    width: 55%;
 }
 img {
     width: 60px;
 }